/* временно , стиль кнопки для открытия окна  */
.Button {
    background-color:whitesmoke;
    border: 1px solid silver;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 24px;
}
.Button:hover{
    background-color:gainsboro;
    border: 1px solid slategray;
}

/* !!!!!!! Для коректной работы окна логина нужно добавить "position" для елементов , которые будут "под ним" !!!!!!!*/

/* стиль окна*/
.regForm {
    display: none;
    width: 350px;
    height: 350px;
    margin-left: 37%;
    margin-top: 11%;
    border: 1px solid slategray;
    border-radius: 10px;
    z-index: 10;
    background-color: ghostwhite ;
    position: relative;
    box-shadow: 10px 10px darkslategrey;
    /* box-shadow: 10px  black; */
}
/* стиль затемнения  */
.grey{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

/* стиль формы в окне */
.form{
    
    width: 8cm ;
    margin: 0px auto 10px auto; 
    text-align: center;
    
}

.FormFooter{
    background-color: rebeccapurple;
    width: auto;
    height: 15px;
}
/* стиль заполняемых полей */
.input{
    margin-bottom: 15px ;
    padding: 5px 50px 5px 10px;
    border-radius: 5px;
    border-color:lightsteelblue;
}
/* стиль кнопки регистрации в форме */
.regist{
    padding: 10px 30px; 
    border-radius: 5px;
    border-color: #cccdce ;
    margin-top: 30px;
    
}
.regist:hover{
    border-color: #5c6b70 ;
    cursor: pointer;
    background-color: #cccdce ;
}
/* стиль кнопки закрытия */
.close{
    position: absolute ;
    margin: 10px 6px 5px 325px  ;
}
.close:hover{
    cursor: pointer;
}
